@media screen and (max-width: 1200px) {
  .nav-container {
    padding-inline: 1rem;
  }
}

@media screen and (max-width: 768px) {
  html {
    overflow-x: visible;
  }
  .ds {
    display: none;
  }
  .nav-links {
    position: absolute;
    transform: translateX(-1000px);
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--Very--Dark--Violet);
    background-image: url("images/bg-pattern-mobile-nav.svg");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    padding: 4rem 0 0 0;

    gap: 2rem;
    z-index: 100;
  }

  .active {
    transform: translateX(0);
    transition: transform 0.3s;
  }
  .nav-link {
    color: var(--Very--Light--Gray);
    font-size: 1.5rem;
    font-weight: 400;
  }
  .nav-link:hover {
    color: var(--Very--Light--Gray);
  }
  .nav-link button {
    color: var(--Very--Light--Gray);
    border-color: var(--Very--Light--Gray);
    font-size: 1.3rem;
    padding: 1rem 6rem;
  }
  .menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .intro-deskop {
    display: none;
  }

  .desktop-image {
    display: none;
  }

  .intro-mobile {
    display: block;
  }
  main {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;

    width: 120%;
    padding: 0;
    margin-top: 0;
    height: 100%;
  }

  .main-left {
    width: 100%;
    padding-top: 5rem;
  }

  .main-left hr {
    display: none;
  }

  .main-left h1 {
    font-size: 2.5rem;
    text-align: center;
    padding-right: 8rem;
    padding-left: 2rem;
  }

  .main-left h1 br {
    display: none;
  }

  .main-left p br {
    display: none;
  }

  .main-left p {
    text-align: center;
    padding-right: 6rem;
    padding-left: 2rem;
  }

  .main-bt {
    text-align: center;
    padding-right: 3rem;
  }

  .main-image {
    width: 100%;
    margin-top: -11.5rem;
  }

  .main-image img {
    width: 85%;
    height: auto;
    max-width: 100%;
  }

  .second {
    margin: 0;
  }

  .one {
    position: relative;
    height: 950px;
    overflow: hidden;
    padding-bottom: 0;
  }

  .mobile-image {
    display: flex;
  }

  .left-image-mobile {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 390px;
  }

  .right-image-mobile {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 730px;
  }

  .second {
    margin-top: 4rem;
  }
  .second hr {
    position: absolute;
    width: 140px;
    top: -2.5rem;
    left: 120px;
  }

  .second h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 0;
  }

  .second-column2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }

  .second-row {
    width: 100%;
    align-self: center;
    text-align: center;
    margin-left: 2;
    margin-right: 2;
  }

  .third {
    background-image: url(images/bg-pattern-how-we-work-mobile.svg);
    background-repeat: no-repeat;
    background-position: right;
    padding: 4rem 1rem 3rem 1rem;
    margin: 4rem 1rem 4rem 1rem;
    position: relative;
    background-color: var(--Dark--Violet);
  }

  .work {
    display: flex;
    flex-direction: column;
  }

  .work h1 {
    color: var(--Very--Light--Gray);
    font-family: "DM Serif Display", serif;
    font-size: 2rem;
    font-weight: 400;
    width: 100%;
    line-height: 1;
    text-align: center;
    margin-bottom: 2rem;
  }

  .we-work {
    text-align: center;
  }

  .work-btn {
    color: var(--Very--Light--Gray);

    background-color: transparent;
    cursor: pointer;
    border: 1px solid var(--Very--Light--Gray);

    font-weight: 400;
    font-size: 1rem;
    padding: 0.6rem 1.4rem;
  }

  footer {
    padding: 0;
    background-color: var(--Very--Light--Gray);
    margin: 2rem 0rem 2rem 0rem;
    padding-top: 5.5rem;
    padding-bottom: 4rem;
    background-image: url(images/bg-pattern-footer-mobile.svg);
  }

  .footer-column-one {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1.5rem;
  }

  .social-links-icons {
    margin-right: 0;
  }

  .footer-column-two {
    display: flex;
    margin-top: 6rem;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }

  .footer-links li {
    text-align: center;
    font-size: 14px;
  }

  footer hr {
    position: absolute;
    width: 310px;
    margin-left: 1rem;
    top: 2480px;
    border-color: var(--Very--Light--Gray);
  }
}
