@media screen and (max-width: 1200px) {
  .nav-container {
    padding-inline: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .ds {
    display: none;
  }
  .nav-links {
    position: absolute;
    transform: translateX(-1000px);
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--Very--Dark--Violet);
    background-image: url("images/bg-pattern-mobile-nav.svg");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    padding: 4rem 0 0 0;

    gap: 2rem;
    z-index: 100;
  }

  .active {
    transform: translateX(0);
    transition: transform 0.3s;
  }
  .nav-link {
    color: var(--Very--Light--Gray);
    font-size: 1.5rem;
    font-weight: 400;
  }
  .nav-link:hover {
    color: var(--Very--Light--Gray);
  }
  .nav-link button {
    color: var(--Very--Light--Gray);
    border-color: var(--Very--Light--Gray);
    font-size: 1.3rem;
    padding: 1rem 6rem;
  }
  .menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .intro-deskop {
    display: none;
  }

  .desktop-image {
    display: none;
  }

  .intro-mobile {
    display: flex;
  }

  main {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    padding: 0;
    width: 120%;
    height: 100%;
    padding-bottom: 22rem;
  }

  .main-left {
    padding-top: 5rem;
    width: 100%;
  }

  .main-left hr {
    display: none;
  }

  .main-left h1 {
    font-size: 2.5rem;
    text-align: center;
    padding-right: 8rem;
    padding-left: 2rem;
  }

  .main-left h1 br {
    display: none;
  }

  .main-left p br {
    display: none;
  }

  .main-left p {
    text-align: center;
    padding-right: 6rem;
    padding-left: 2rem;
  }

  .main-bt {
    text-align: center;
    padding-right: 3rem;
  }

  .main-image img {
    width: 85%;
  }

  .mobile-image {
    display: flex;
  }

  .one {
    position: relative;
    overflow-x: hidden;
    height: 100vh;
  }

  .left-image-mobile {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 190px;
  }

  .right-image-mobile {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 528px;
  }
}
