@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Dark--Violet: hsl(256, 26%, 20%);
  --Grayish--Blue: hsl(216, 30%, 68%);
  --Very--Dark--Violet: hsl(270, 9%, 17%);
  --Dark--Grayish--Violet: hsl(273, 4%, 51%);
  --Very--Light--Gray: hsl(0, 0%, 98%);
}

body {
  font-family: "DM Serif Display", serif;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  overflow: hidden;
}

header {
  background-color: var(--Very--Light--Gray);
}

nav {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}

.nav-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 45px;
  padding-right: 80px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  list-style: none;
}

.nav-link {
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
  color: var(--Dark--Grayish--Violet);

  font-weight: 700;
}

.nav-link:hover {
  color: var(--Very-Dark-Violet);
  transition: color 0.3s;
}
.nav-link button {
  text-transform: uppercase;
  padding: 0.5rem 1.5rem;
  background-color: transparent;
  border: 2px solid var(--Very--Dark--Violet);
  cursor: pointer;
}
.nav-link button:hover {
  background-color: var(--Very--Dark--Violet);
  color: var(--Very--Light--Gray);
  transition: all 0.3s;
}

.menu-btn {
  display: none;
}

.one {
  position: relative;
  overflow-x: hidden;
}

.left-image-desktop {
  top: 420px;
  left: 0;
  position: absolute;
  z-index: 1;
}

.right-image-desktop {
  position: absolute;
  z-index: 1;
  right: 0;
  width: 400px;
}

main {
  background-color: var(--Dark--Violet);
  display: flex;
  height: 90vh;
  padding: 6rem;
  justify-content: space-between;
  padding-left: 140px;
  padding-right: 175px;
}

.main-left {
  align-self: center;
}

.main-left h1 {
  color: var(--Very--Light--Gray);
  font-family: "DM Serif Display", serif;
  font-weight: 700;

  font-size: 4rem;
  line-height: 1;
  letter-spacing: -0.67px;
}

.main-left p {
  color: var(--Very--Light--Gray);
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: "Karla", sans-serif;
  line-height: 1.5;
}

.main-btn {
  color: var(--Very--Light--Gray);

  background-color: transparent;
  cursor: pointer;
  border: 1px solid var(--Very--Light--Gray);

  font-weight: 700;
  font-size: 1.3rem;
  padding: 0.8rem 2rem;
}

.main-btn:hover {
  color: var(--Very--Dark--Violet);
  background-color: var(--Very--Light--Gray);
}

.main-left hr {
  position: absolute;
  width: 140px;
  top: 100px;
}

.main-image {
  display: block;
  position: relative;
}

.intro-mobile {
  display: none;
}

.mobile-image {
  display: none;
}
